.game-container {
  display: flex;
  align-items: center;      
  justify-content: center;
  gap: 5%;
  background-color: rgba(74, 72, 82, 0.4);
  border-radius: 15px;
  padding: 30px;
  width: 80%;
  margin: 0 auto;
  border: 2px solid #5E590B;
}

.game-image img {
  width: 100%;
  border-radius: 6em;
}

.game-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10%;
    width: 80%;
    margin-left: 10%;
}

.game-header h2 {
    color: #B5AF4C;
    font-size: 250%;
    margin-bottom: 15px;
}

.game-header .buttons {
    display: flex;
    gap: 5%;
}

.play {
    background-color: #898226;
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 10px 22px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
}

.play:hover {
    background-color: #403D06;
    transform: scale(1.05);
}

a.play{
  text-decoration: none;
}

button.share {
  background-color: #403D06;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 6px 14px;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s ease;
}

button.share:hover {
  background-color: #5c5964;
}


.description-box {
    background: #4A4652;
    border-radius: 10px;
    padding: 20px;
    margin: 40px auto;
    width: 80%;
}

.buttons {
  justify-content: center; 
}


.share {
  background: #403D06;
  border: 1px solid #787000;
  color: white;
  padding: 6px 16px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.2s;
}

.share:hover {
  background: #787000;
}
