* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url(./imagenes/fondo.png);
    color: white;
}

.header {
    background-color: #250C40;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 100%;
    padding: 10px;
}

.logo img {
    width: 10%;
    height: auto;
    display: block;
}

.breadcrumb {
    display: flex;
    border: solid;
    border-color: #5E590B;
    justify-content: space-between;
    align-items: center;
    background-color: #2A1540;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 30px auto;
    width: 80%;
    color: #fff;
}

.breadcrumb ol {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.breadcrumb li {
    display: flex;
    align-items: center;
}

.breadcrumb li + li::before {
    content: ">";
    margin: 0 8px;
    color: #999;
}

.breadcrumb a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.breadcrumb a:hover {
    text-decoration: none;
    color: inherit;
}

.fat-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 60px;
    background-color: #1A181E;
    color: white;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-logo img {
    width: 50%;
    height: auto;
    display: block;
}

.footer-about h3 {
    margin-bottom: 2%;
    color: white;
}

.footer-about p {
    font-size: 90%;
    line-height: 1.5;
    max-width: 70%;
    margin: auto;
}

.footer-legal {
    margin: 2%;
    padding: 2%;
    border-top: 2px solid #6D4D89;
    border-bottom: 2px solid #6D4D89;
    width: 50%;
}

.footer-legal h4 {
    margin-bottom: 5%;
    color: white;
}

.footer-legal ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 0;
}

.footer-legal li {
    flex:1;
    text-align: center;
}

.footer-social {
    margin: 5%;
}

.footer-social h4 {
    margin-bottom: 5%;
    color: white;
}

.social-icons ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
    padding: 0;
}

.social-icons img {
    width: 35px;
    height: 35px;
    display: block;
}

.footer-bottom {
    padding: 2%;
    border-top: 1px solid rgba(255,255,255,0.2);
    font-size: 80%;
    color: #999;
}

@media (width <= 768px){
    .header {
        width: 100%;
        padding: 10px;
    }
    
    .logo img {
        width: 30%;
        max-width: 250px;
        height: auto;
        display: block;
    }

    .fat-footer {
        width: 100%;
        padding: 15px;
    }

    .footer-logo img {
        width: 30%;
    }

    .footer-about p {
        max-width: 100%;
        font-size: 12px;
        line-height: 1.4;
    }

    .footer-legal {
        width: 100%;
        gap: 10px 0;
    }

    .footer-legal ul {
        flex-direction: column;
        gap: 12px;
    }

    .social-icons ul {
        gap: 15px;
    }

    .social-icons img {
        width: 30px;
        height: 30px;
    }
    
    .footer-bottom {
        padding: 10px; 
        line-height: 1.4;
        font-size: 10px;
    }
}